//variables & functions
// @import 'functions';
@import 'variables';

//base & layout
@import 'base';
// @import 'bresakpoints';
// @import 'grid';

//colors
@import 'colors';

//components
// @import 'components/card';
// @import 'components/button';
// @import 'components/navbar';
// @import 'components/badge';

//utilities
// @import 'utilities';

//slides
// @import 'slide';

* {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: $purple ;
    padding: 0;

}


//home

.container {
    height: 100vh;
    width: 100vw;
    background-color: $purple;

    &__homesection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;



        .menu_logo {
            height: 75px;
        }

        .home-btn {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 22px;
            height: 60px;
            width: 65%;
            box-shadow: 0px 10px 0px 0px black;
            border: 3px solid black;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            padding-left: 30px;
            padding-right: 30px;
        }

        .player {
            background-color: $yellow;
        }

        .rule {
            background-color: white;
        }
    }
}



//rule
.flex {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 80px;


    .sectionrule {

        position: relative;
        box-shadow: 0px 10px 0px 0px black;
        border: 3px solid black;
        border-radius: 30px;
        background-color: white;
        width: 70%;
        padding: 30px;

        h1 {
            font-size: 70px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 5%;
        }

        h3 {
            margin-top: 8%;
            margin-bottom: 8%;

        }

        .title {
            text-transform: uppercase;
            color: $darkpurple
        }

        ol {
            padding: 0;
            margin-top: 5%;
            margin-bottom: 10%;
        }

        ol>li {
            padding: 0 0 0 1em;
            text-indent: -2em;
            list-style-type: none;
            counter-increment: item;
        }

        ol>li:before {
            display: inline-block;
            width: 1.5em;
            padding-right: 0.5em;
            font-weight: bold;
            text-align: right;
            content: counter(item) ".";
        }

        .check-btn {
            position: absolute;
            left: 45%;
        }
    }
}







// Game 


.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow: none;
    background-color: rgba(0, 0, 0, 0.644);

    h1 {
        text-transform: uppercase;
        color: white;
        margin-top: 10%;
        font-size: 56px
    }

    &__pause {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        height: 70%;
        width: 90%;
        background-color: $purple;
        border: 3px solid black;
        box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
        border-radius: 20px;

        .btn-container {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;

            &__btn {
                height: 20%;
                width: 80%;
                text-transform: uppercase;
                font-weight: bolder;
                font-size: 28px;
                background-color: white;
                border: 3px solid black;
                box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
                border-radius: 20px;
            }
        }

        .quit {
            background-color: $pink;
            color: white;
        }

    }
}

header {
    padding-left: 5%;
    padding-right: 5%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .purple_btn {
        margin-top: 20px;
        font-weight: bold;
        font-size: 16px;
        height: 60%;
        width: 25%;
        color: white;
        background-color: $darkpurple;
        border: none;
        border-radius: 20px;
    }

    img {
        margin-top: 20px;
    }
}

main {
    .player-section {
        display: flex;
        justify-content: space-evenly;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 8%;

        .player-div {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 23px;
            width: 40%;
            height: 80px;
            background-color: white;
            border-radius: 20px;
            border: 3px solid black;
            box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);

            span {
                font-size: 33px;
            }

            .first-player {
                position: absolute;
                left: -15%;
                margin-top: 5px;
            }

            .second-player {
                position: absolute;
                right: -15%;
                margin-top: 5px;
            }
        }
    }


    .board-container {
        position: relative;

        margin-top: 12%;
        height: 100%;
        margin-left: 9.5%;

        .board1 {
            width: 90%;
        }

        .board2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            z-index: 1;
        }

        .boardPC {
            display: none;
        }

        .arrow-div {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-left: -10%;
            margin-top: -8%;

            .arrow {
                height: 150;
                width: 200;
            }

            .arrow-p {
                position: absolute;
                color: white;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                top: 35px;
            }

            .timer {
                position: absolute;
                top: 65px;
                font-size: 35px;

                span {
                    font-size: 56px;
                }
            }
        }
    }
}

footer {
    .bottom-page {
        background-color: $darkpurple;
        border-radius: 100px 100px 0px 0px;
        margin-top: -30%;
        width: 100%;
        height: 290px;
    }
}

@media screen and (min-width:640px) {

    //home
    .container {
        background-color: $darkpurple;
        display: flex;
        justify-content: center;
        align-items: center;

        &__homesection {
            border: 3px solid black;
            border-radius: 20px;
            background-color: $purple;
            width: 550px;
            height: 500px;
        }
    }


    //rule
    .sectionrule {

        height: 500px;
        width: 550px !important;
    }

    //Game

    .menu__pause {
        width: 60%;
    }

    .player-div-left {
        flex-direction: row !important;
        justify-content: space-around !important;
    }

    .player-div-right {
        flex-direction: row-reverse !important;
        justify-content: space-around !important;
    }

    .board-container {
        margin-top: 7% !important;

        .boardPC {
            display: block !important;

        }

        .boardMobile {
            display: none;
        }
    }

    .bottom-page {

        height: 300px !important;
        margin-top: -18.5% !important;
    }
}